/* Code tidied up by ScrapBook */
.top_bj { width: 100%; margin: 0px auto; }
.ind_nr { width: 884px; margin: 0px auto; }
.gg_nr { width: 884px; height: 260px; background: transparent url("ind_05.png") no-repeat scroll center bottom; font-family: "宋体"; font-size: 14px; color: rgb(255, 255, 255); text-align: center; line-height: 33px; font-weight: bold; }
